name: CI

on: [push, pull_request]

jobs:
  build:
    name: Build Linux packages
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      
      - name: Build sdist
        run: python setup.py sdist

      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v1

      - name: Available platforms
        run: echo ${{ steps.qemu.outputs.platforms }}
      
      - name: Build x86_64 packages
        uses: RalfG/python-wheels-manylinux-build@v0.3.2-manylinux2014_x86_64
        with:
          python-versions: "cp36-cp36m cp37-cp37m cp38-cp38 cp39-cp39"
      
      - name: Build aarch64 packages
        uses: RalfG/python-wheels-manylinux-build@v0.3.3-manylinux2014_aarch64
        with:
          python-versions: "cp36-cp36m cp37-cp37m cp38-cp38 cp39-cp39"
      
      - name: Set up a Vertica server
        env:
          VERTICA_CE_URL: "https://vertica-community-edition-for-testing.s3.amazonaws.com/XCz9cp7m/vertica-10.0.1-0.x86_64.RHEL6.rpm"
        run: |
          git clone https://github.com/jbfavre/docker-vertica.git
          curl $VERTICA_CE_URL --create-dirs -o docker-vertica/packages/vertica-ce.latest.rpm
          docker build -f docker-vertica/Dockerfile.centos.7_9.x --build-arg VERTICA_PACKAGE=vertica-ce.latest.rpm -t jbfavre/vertica docker-vertica
          docker images
          docker run -d -p 5433:5433 jbfavre/vertica
          sleep 60
      
      - name: Install dependencies
        run: pip install tox
      
      - name: Run tests
        run: |
          pip install tox
          uname -m
          export VP_TEST_USER=dbadmin
          tox -e py
